@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.garments-page {
  margin: 2rem auto;

  .header {
    display: flex;
    align-items: center;
    gap: $space-md;
    flex-wrap: wrap;
    margin-bottom: $space-md;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: $space-md;
    }

    .file-id {
      font-family: monospace;
      font-size: 1.5rem;
      background: $color-light-gray;
      padding: $space-xs $space-sm;
      border-radius: $radius-sm;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: $space-sm;
    margin-bottom: $space-md;
    flex-wrap: wrap;
  }
}
