.user-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  
    button {
      padding: 0.5rem;
      cursor: pointer;
    }
  
    .dropdown {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #ccc;
      margin-top: 0.5rem;
      position: absolute;
      right: 0;
  
      button {
        padding: 0.5rem 1rem;
        border: none;
        background: none;
        text-align: left;
  
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  